<html xmlns:th="https://www.thymeleaf.org">
<head>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
	<body>
		<div class="container">
			<div class="row">
				Audio Directory:<input type="text" form="audioForm" name="audioDirectory" th:value="${audioDirectory}"></input>
			</div>
			
			
			<div class="row">
				<div class="col">ID</div>
				<div class="col">Audio Source</div>
				<div class="col">File</div>
				
			</div>
			<div class="row">
				<div class="col">
					<input value="-1" name="audioIds" form="audioForm" type ="number"> 
				</div>
				
				<div class="col">
					<select class="mixerSelect" form="audioForm" name="mixers">
						<option value="">N/A </option>
						<option class="row" th:each="mixer : ${mixerList}" th:text="${mixer}"
							th:value="${mixer}"> </option>
					</select>
				</div>
				
				<div class="col">
					<select class="fileSelect" form="audioForm" name="files">
						<option value="">N/A </option>
						<option class="row" th:each="file : ${audioFiles}" th:text="${file.getAbsolutePath()}"
							th:value="${file.getAbsolutePath()}" > </option>
					</select>
				</div>
				
				
				
		
			</div>
			
			<form action="/save" id="audioForm">
  	<button type="button" onclick="save()"> Save </button>
</form>
			
			
			<div class="row">
				<div class="col">ID</div>
				<div class="col">Audio Source</div>
				<div class="col">File</div>
				<div class="col">Play/Pause</div>
			</div>
			
			<div class="row" th:each="source : ${audioPlayers}">
				<div class="col">
					<input th:value="${source.id}" name="audioId" form="audioForm" type ="text">
				</div>
				<div class="col">
					<select class="mixerSelect" form="audioForm" name="mixers" >
						<option value="">N/A </option>
						<option class="row" th:each="mixer : ${mixerList}" th:text="${mixer}"
							th:value="${mixer}" th:selected="${mixer==source.mixerInfo.name}"> </option>
					</select>
				</div>
				<div class="col">
					<select class="fileSelect" form="audioForm"  name="files">
						<option value="">N/A </option>
						<option class="row" th:each="file : ${audioFiles}" th:text="${file.getAbsolutePath()}"
							th:value="${file.getAbsolutePath()}" th:selected="${file.getAbsolutePath()==source.fileName}"> </option>
					</select>
				</div>
				<div class="col"><button class="playButton"  th:data-audioId="${source.id}" th:data-action="play">
						Play</button>
					<button class="playButton" th:data-audioId="${source.id}"  th:data-action="pause">
						Pause</button>
					<button class="playButton" th:data-audioId="${source.id}"  th:data-action="stop"> Stop</button>
				</div>
				
		
			</div>
			
			
			
			<div class="row">
			

				
			</div>
		</div>
	</body>
</html>

<script>

	var elements = document.getElementsByClassName("playButton");
	var play = async function () {
		var attribute = encodeURIComponent(this.getAttribute("data-audioId"));
		//alert(attribute);
		url = "/" + this.getAttribute("data-action")
		try {
			const response = await fetch(url + "?audioId=" + attribute, {
				method: 'get'
			});
			response.text().then(text => console.log(text));
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	};

	for (var i = 0; i < elements.length; i++) {
		elements[i].addEventListener('click', play, false);
	}
	
	async function save() {
		let params = new URLSearchParams(new FormData(document.getElementById("audioForm"))).toString()
		console.log(params);
				
		try {
			const response = await fetch("/save?" + params, {
				method: 'get'
			});
			console.log('Completed!', response.status);
			if(response.status==200)
			 	window.location.href = response.url
			else
				response.json().then(text => alert(text.message));
			
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	};



</script>