<html xmlns:th="https://www.thymeleaf.org">
<head>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
	<body>
		<div class="container">
			<div class="row">
				Audio Directory:<input type="text" id="audioDirectory" th:value="${audioDirectory}"></input>
			</div>
			
			<div class="row">
				<div class="col">Audio Source</div>
				<div class="col">File</div>
				<div class="col">Play/Pause</div>
			</div>
			<div class="row" th:each="source : ${storageMap}">
		
				<div class="col" th:text="${source.mixerInfo.name}" th:data-mixerName="${source.mixerInfo.name}"></div>
				<div class="col">
					<select class="fileSelect" th:data-mixerName="${source.mixerInfo.name}">
						<option value="">N/A </option>
						<option class="row" th:each="file : ${audioFiles}" th:text="${file.getAbsolutePath()}"
							th:value="${file.getAbsolutePath()}" th:selected="${file.getAbsolutePath()==source.fileName}"> </option>
					</select>
				</div>
				<div class="col"><button class="playButton" th:data-mixerName="${source.mixerInfo.name}" th:data-action="play">
						Play</button>
					<button class="playButton" th:data-mixerName="${source.mixerInfo.name}" th:data-action="pause">
						Pause</button>
					<button class="playButton" th:data-mixerName="${source.mixerInfo.name}" th:data-action="stop"> Stop</button>
				</div>
				</option>
		
			</div>
			
			
			
			<div class="row">
				<button onclick="saveSongs()"> Save </button>
			</div>
		</div>
	</body>
</html>

<script>

	var elements = document.getElementsByClassName("playButton");
	var play = async function () {
		var attribute = encodeURIComponent(this.getAttribute("data-mixerName"));
		//alert(attribute);
		url = "/" + this.getAttribute("data-action")
		try {
			const response = await fetch(url + "?outputName=" + attribute, {
				method: 'get'
			});
			response.text().then(text => console.log(text));
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	};

	for (var i = 0; i < elements.length; i++) {
		elements[i].addEventListener('click', play, false);
	}
	
	async function saveSongs() {
		let params = "?";
		let audioDirectory=encodeURIComponent(document.getElementById("audioDirectory").value);
		console.log(audioDirectory)
		params +="audioDirectory=" + audioDirectory;
		let elements = document.getElementsByClassName("fileSelect");
		
		for (var i = 0; i < elements.length; i++) {
			var outputName = encodeURIComponent(elements[i].getAttribute("data-mixerName"));
			var file = encodeURIComponent(elements[i].value);
			
				params += "&";
			params += "outputName" + i + "=" + outputName + "&fileName" + i + "=" + file;
		}
		try {
			const response = await fetch("/save" + params, {
				method: 'get'
			});
			console.log('Completed!', response.status);
			if(response.status==200)
			 	window.location.href = response.url
			else
				response.json().then(text => alert(text.message));
			
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	};



</script>